<h1> <%= @restaurant.name %> </h1>

<ul>
  <li><%= @restaurant.address %></li>
  <li><%= @restaurant.phone_number %></li>
  <li><%= @restaurant.category %></li>
</ul>

<%= @reviews.each do |review| %>
  <ul>
    <li>review.content</li>
    <li>review.rating</li>
    <li>review.restaurant_id</li>
  </ul>
<% end %>

<%= render 'reviews/new', review: @review, restaurant: @restaurant %>
